body {
    background-color: orange;
    font-family: 'poppins', sans-serif;
    color: white;
    margin: 0;
    padding: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  table th,
  table td {
    border: 1px solid white;
    padding: 10px;
    text-align: center;
  }
  
  footer {
    margin-top: 20px;
    text-align: center;
    font-size: 0.8rem;
  }

  p {
    text-align: center;
    font-style: italic;
    font-weight: bold;
  }