* {
  font-family: 'Poppins', sans-serif;
}

.header {
  display: flex;
  height: 30px;
  width: 90%;
  background-color: rgba(21, 21, 21, 0.8);
  backdrop-filter: blur(10px);
  color: white;
  border-radius: 10px;
  margin-top: 30px;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.header-title {
  margin: 0;
  font-size: 1.8rem;
  font-style: italic;
  color: red;
}

.header-nav ul {
  list-style-type: none;
  padding: 0;
  font-size: 1rem;
}

.header-nav li {
  display: inline;
  margin: 0 15px;
}

.header-nav a {
  color: white;
  text-decoration: none;
}

.header-nav a:hover {
  color: red;
}

.Movie-search {
  height: 10px;
  width: 200px;
  font-size: 1rem;
  padding: 10px;
  border-radius: 10px;
}

.Movie-search::placeholder {
  font-size: 0.8rem;
  color: gray;
}
